<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>监控</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.4.4/css/bootstrap-datetimepicker.min.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>
    <script src="https://cdn.bootcss.com/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/smalot-bootstrap-datetimepicker/2.4.4/js/bootstrap-datetimepicker.min.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>

</head>
<body>
<div class="container">
    <div th:fragment="content">
        <div class="alert alert-info" role="alert">
            每月1号形成警报，同一个CPF/卡号买家，在上一个自然月周期内，与同一个商户交易笔数超多XX笔
        </div>
        <div class="content">
            <div class="form-inline" id="form1">
                <div class="form-group ">
                    <label for="form1_type">类型</label>
                    <select class="form-control " id="form1_type">
                        <option value="cpf" selected>cpf</option>
                        <option value="bankNO">卡号</option>
                    </select>
                </div>

                <div class="form-group  ">
                    <label for="form1_date">月份</label>
                    <input class="form-control " id="form1_date" placeholder="yyyyMM">
                </div>

                <div class="form-group  ">
                    <label for="form1_num">报警阈值</label>
                    <input class="form-control " id="form1_num" placeholder="数量">
                </div>
                <button type="submit" class="btn btn-primary " onclick="listRecords1()">查询</button>
            </div>

            <div class="bootstrap-admin-panel-content">
                <table id="table1" class="table-condensed"
                       style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;min-width:375px"></table>
            </div>

        </div>
        <script th:inline="javascript">
            var hostUrl = /*[[ @{'/'} ]]*/;




            var responseHandler1 = function (e) {
                console.log(e);
                if (e.success) {
                    return {"rows": e.result, "total": e.result.count};
                } else {
                    return {"rows": [], "total": 0};
                }

            }

            function listRecords1() {
                var queryParams = {
                    type: $.trim($('#form1_type').val()),
                    date: $.trim($('#form1_date').val()),
                    num: $.trim($('#form1_num').val())
                };
               var type = $.trim($('#form1_type').find("option:selected").text())
                var tableColumns1 = [
                    {field: 'type', title: '类型', align: 'center'},
                    {field: 'userId', title: type, align: 'center'},
                    {field: 'merchantId', title: '商户号', align: 'center'},
                    {field: 'num', title: '数量', align: 'center'},
                ];
                $('#table1').bootstrapTable('destroy').bootstrapTable({
                    url: hostUrl + 'monitor/1',
                    method: 'get',
                    queryParams: queryParams,
                    striped: true,
                    minimumCountColumns: 2,
                    clickToSelect: true,
                    detailView: false,
                    pagination: true,
                    paginationLoop: false,
                    sidePagination: 'server',
                    silentSort: false,
                    smartDisplay: false,
                    escape: true,
                    searchOnEnterKey: true,
                    idField: 'systemId',
                    maintainSelected: true,
                    toolbar: '#toolbar',
                    fixedColumns: false,
                    pageNumber: 1,                       //初始化加载第一页，默认第一页
                    pageSize: 25,
                    columns: tableColumns1,
                    responseHandler: responseHandler1
                });
            }
        </script>
    </div>
</div>


</body>

</html>